<!DOCTYPE html>
<html ng-app="verisiApp">
  <head>
    <meta charset="utf-8">
    <title>Project 4</title>
    <base href="/">

    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

    <script src="js/angular.js" charset="utf-8"></script>
    <script src="js/angular-route.min.js" charset="utf-8"></script>
    <script src="js/jquery.js" charset="utf-8"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/app-routes.js" charset="utf-8"></script>
    <script src="js/factories.js" charset="utf-8"></script>
    <script src="js/controllers.js" charset="utf-8"></script>

  </head>
  <body>
    <div>
      <nav class="ui menu">
        <a href = "/search">
          <h3 class="header item">Verisi Co.</h3>
        </a>
        <a class="item" href="/search">Search</a>
        <a class="item" href="/collections">Collections</a>
        <a class="item" href="/comparables">Comparables</a>
        <a class="item" href="/resources">Resources</a>
      </nav>
    </div>
    <div class="ui fluid container">

      <div ng-view></div>

    </div>
  </body>
</html>
