/*Style sheet*/

*{
  /*border: 2px dashed blue;*/
}

nav.ui.menu{
  background-color: #0D7054;
  color: white;
}

.ui.menu .item {
  color: white;
}

.ui.button{
  background-color: #190E08;
  color: white;
}

#block {
    background: yellow;
    height: 0;
    overflow: hidden;
    transition: height 300ms linear;
}

label {
    cursor: pointer;
}

#showblock {
    display: none;
}

#showblock:checked + #block {
    height: 40px;
}

button.ui.fluid.button {
  color: black;
  background-color: white
}
/*.properties{
  background-color: #0D7054
}*/
