/*Style sheet*/

*{
  /*border: 2px dashed blue;*/
}

body{
  padding-left: 25px;
}
/*Main Styling____________________________________________________________*/
#verisiHeader{
  font-family: 'Arimo', sans-serif;
}


#navText{
  margin: 0 auto;
  margin-top: 15px;
  font-family: 'Playfair Display SC', serif;
}

#working-late{
  margin: 0 auto;
  width: 500px;
  height: 200px
}

#jumboHeader{
  font-family: 'Arimo', sans-serif;
  color: whitesmoke;
  margin-top: 50px;
}

#loggedInJumbo{
  margin-top: -20px;
  display: block;
  text-align: justify;
  font-family: 'Arimo', sans-serif;
  color: whitesmoke;
  background-image: url("../images/darkwood.jpg");
  background-size: 100% 100%;
  height: 250px;
}

#notLoggedInJumbo{
  margin-top: -20px;
  display: block;
  /*text-align: justify;*/
  font-family: 'Arimo', sans-serif;
  background-image: url("../images/darkwood.jpg");
  background-size: 100% 100%;
  /*background-size: cover;*/
  height: 250px;
}



#icons{
  color: black;
  margin: 0 auto;
  text-align: center
}

#homeButtons{
  width: 150px;
}

.column{
  text-align: center;
}
nav.ui.menu{
  /*background-color: #1FAC92;*/
  /*background-color: #0B5578;*/
  /*background-color: #02BA6C;*/
  background-color: #013D2F;
  color: white;
}


#footer {
margin: 0 auto;
margin-top: 40px;
bottom: 0;
left: 0;
width: 100%;
color: white;
background-color: black;
}
/*#footer .social {
padding: 30px 0;
width: 425px;
text-align: center;
}*/
#footer .copyright {
padding: 30px 0;
text-align: center;
margin: 0 auto;
}

/*Search Page Styling*/
.ui.card.search-card{
  margin-left: 30px;
  margin-top: 60px;
}

.ui.input.search-input{
  width: 250px;
}
.ui.button.search-submit{
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
}

/*Property Details Styling=====================================*/

#map-holder{
  padding-top: 42px;
}

map#map-properties {
     height: 100%;
     /*border: 5px solid black;*/
     border-radius: 7px;
   }


/*#show-comparables{
  color: black;
}*/

#property-header{
  height: 70px
}

#property-group{
  float: left;
}

#back-to-properties{
  float: right;
}


#detail-buttons{

}

.ui.menu .item {
  color: white;
}

.ui.button{
  background-color: #190E08;
  color: white;
  margin: 2px;
}

button.tiny.ui.button{
  background-color: #190E08;
  color: white;
}

button#show-group.ui.tiny.basic.button{
  border: 2px solid black;
  color: #F0824F
}

.ui.basic.button, .ui.basic.buttons .button{
  border: 2px solid black;
  color: #F0824F
}

#links{
  color: white;
}


#block {
    background: yellow;
    height: 0;
    overflow: hidden;
    transition: height 300ms linear;
}

label {
    cursor: pointer;
}

#showblock {
    display: none;
}

#showblock:checked + #block {
    height: 40px;
}

button.ui.fluid.button {
  color: black;
  background-color: white
}
/*.properties{
  background-color: #0D7054
}*/

.stat{
  font-size: 20px;
  font-variant-caps: all-small-caps;
}

.bottomStat{
  font-size: 20px;
  font-variant-caps: all-small-caps;

}

.description{
  margin-top: 10px
}

/*Table Styling for property details page*/
.table-label-column{
  width: 175px;
}
