<!-- semantic inserted for testing, take out when angular connected -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Collection Partial</title>
    <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
    <script src="../../semantic/dist/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui four column grid">

        <div class="column">
          <div class="ui horizontal divider"><i class="github icon"></i></div>
            Saved Prospects will go here
          <div class="ui accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
              "Prospect Details Go Here"
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui horizontal divider"><i class="github icon"></i></div>
            Saved Prospects will go here
          <div class="ui accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
              "Prospect Details Go Here"
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui horizontal divider"><i class="github icon"></i></div>
            Saved Prospects will go here
          <div class="ui accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
              "Prospect Details Go Here"
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui horizontal divider"><i class="github icon"></i></div>
            Saved Prospects will go here
          <div class="ui accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
              "Prospect Details Go Here"
            </div>
          </div>
        </div>

    </div>

  </body>
</html>
