<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Group Partial</title>
    <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
    <script src="../../semantic/dist/semantic.min.js"></script>
  </head>
  <body>
    <form class="ui form segment">
      <div class="field">
        <label>Group Name</label>
        <input type="text" name="username" placeholder="Username">
      </div>
      <div class="field">
        <label>Members</label>
        <div class="ui two column grid">
          <div class="column">
            <input type="text" name="group-member" placeholder="Add Member by Username">
          </div>
          <div class="column">
            <input type="text" name="group-member" placeholder="Add Member by Username">
          </div>
        </div>
        <div class="ui two column grid">
          <div class="column">
            <input type="text" name="group-member" placeholder="Add Member by Username">
          </div>
          <div class="column">
            <input type="text" name="group-member" placeholder="Add Member by Username">
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
