
    <div class="ui four column grid">

        <div class="column">
          <div class="ui horizontal divider"><i class="github icon"></i></div>
            Saved Prospects will go here
          <div class="ui accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
              "Prospect Details Go Here"
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui horizontal divider"><i class="github icon"></i></div>
            Saved Prospects will go here
          <div class="ui accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
              "Prospect Details Go Here"
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui horizontal divider"><i class="github icon"></i></div>
            Saved Prospects will go here
          <div class="ui accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
              "Prospect Details Go Here"
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui horizontal divider"><i class="github icon"></i></div>
            Saved Prospects will go here
          <div class="ui accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
              "Prospect Details Go Here"
            </div>
          </div>
        </div>

    </div>
