

  <div class="header">{{homeCtrl.heading}}</div>
  <div class="ui center aligned container">
    <div class="content">
      <p></p>
    </div>
    <div class="actions">
      <a href="/login">
        <div class="ui animated button" tabindex="0">
          <div class="visible content">Login</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </div>
      </a>
      <a href="/signup">
        <div class="ui animated button" tabindex="0">
          <div class="visible content">Sign up</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </div>
      </a>
    </div>
  </div>

<script type="text/javascript">
</script>
