

  <div class="header"></div>
  <div class="ui center aligned container">
        <div class="ui hidden divider"></div>
        <div class="actions">
          <a href="/login">
            <div id="homeButtons" class="ui animated button" tabindex="0">
              <div class="visible content">Login</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </div>
          </a>
          <a href="/signup">
            <div id="homeButtons" class="ui animated button" tabindex="0">
              <div class="visible content">Sign up</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="ui hidden divider"></div>
        <div class="ui page grid">
            <div class="three column row">
                <div class="column">
                    <h2 class="ui header">Add Properties</h2>
                    <h1 class="ui icon header">
                      <a id="icons" href="/search"><i class="find icon"></i></a>
                    </h1>
                    <!-- <button class="ui tiny button m-top-10">View details »</button> -->
                </div>
                <div class="column">
                    <h2 class="ui header">Analyze Prospects</h2>
                    <h1 class="ui icon header">
                      <a id="icons" href="/properties"><i class="line chart icon"></i></a>
                    </h1>
                    <!-- <button class="ui tiny button m-top-10">View details »</button> -->
                </div>
                <div class="column">
                    <h2 class="ui header">Take Action</h2>
                    <h1 class="ui icon header">
                      <a id="icons" href="/resources"><i class="home icon"></i></a>
                    </h1>
                    <!-- <button class="ui tiny button m-top-10">View details »</button> -->
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui divider"></div>
                    <span>© Verisi Co.</span>
                </div>
            </div>
        </div>
