<!-- This is the main properties page that lists each Property by Group-->
    <div ng-show="!propertiesCtrl.property" class="ui grid">

        <div class="two column row">
          <div  class="column">
            <div class="ui segments">
              <div class="ui center aligned raised segment properties" ng-repeat="array in propertiesCtrl.groupArrays">
                <h2 class="ui icon header">
                  <i class="home icon"></i>
                  <div class="content">

                    <div class="sub header">Saved Properties for {{array[0].groupName}}</div>
                  </div>
                </h2>
                <div class="ui horizontal divider"></div>

                  <div class="ui left aligned raised segment" ng-repeat="property in array">
                    <div class="content">
                      <p>
                        {{property.prospectName}} &nbsp; | &nbsp; {{property.zillowData.zillowSearch.address.street}} &nbsp; - &nbsp;{{property.zillowData.zillowSearch.address.city}} &nbsp; |
                        &nbsp; {{property.strategy}} &nbsp; | &nbsp; {{property.zillowData.zillowSearch.zestimate.amount.__text | currency}} &nbsp; | &nbsp;
                        <button class="ui tiny basic button" id="show-group" type="button" name="comparables" ng-click="propertiesCtrl.showProperty(property._id)">Show Details</button>
                      </p>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>

  </div>

  <!-- Edit property box that shows when button is clicked (and "editing" property is true) -->
  <div ng-show="propertiesCtrl.editing" class="ui segment">
    <form  class="ui form segment" ng-submit="propertiesCtrl.editProperty()">
      <div class="field">
        <label>Group Name</label>
        <input type="text" name="group-name" placeholder="Group Name" ng-model="propertiesCtrl.property.newGroup">
      </div>
      <div class="field">
        <label>Property Name</label>
        <input type="text" name="property-name" placeholder="Property Name" ng-model="propertiesCtrl.property.newName">
      </div>
      <div class="field">
        <label>Strategy</label>
        <input type="text" name="strategy" placeholder="Strategy" ng-model="propertiesCtrl.property.newStrategy">
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
  </div>

<!-- This section to show comparables if a single property clicked (for comparables and group props)  -->
    <div ng-show="propertiesCtrl.property">
        <div class="ui center aligned segment">
          <div class="ui segment" id="property-header">
              <!-- buttons to reveal edit property box  -->
              <h3 id="property-group">{{propertiesCtrl.property.groupName}}</h3>
              <button  ng-click="propertiesCtrl.editing = true" class="ui button" id="back-to-properties">Edit this Property</button>
              <button class="ui button" id="back-to-properties" ng-click="propertiesCtrl.deleteProperty(propertiesCtrl.property._id); propertiesCtrl.compareThis=null">Delete this Property</button>
              <button  ng-click="propertiesCtrl.property=null; propertiesCtrl.compareProps=[]; propertiesCtrl.compareName='Choose Comparable'; propertiesCtrl.compareThis=null" class="ui button" id="back-to-properties">Back to Properties</button>
          </div>

          <!-- Header Section containing Graph and Map side by side -->
          <div class="ui grid">
            <div class="six wide column">
              <h2>{{propertiesCtrl.property.prospectName}}:  &nbsp; 10 Year Price Change</h2>
              <div class="image">
                <img src="{{propertiesCtrl.property.zillowData.zillowChart.url}}">
              </div>
                  <h3>Strategy: &nbsp;{{propertiesCtrl.property.strategy}}</h3>
                  <h3>Zillow Links:</h3>&nbsp; &nbsp;
                      <button class="tiny ui button"><a id="links" href="{{propertiesCtrl.property.zillowData.zillowSearch.links.comparables}}">Comparables</a></button>
                      <button class="tiny ui button"><a id="links" href="{{propertiesCtrl.property.zillowData.zillowSearch.links.graphsanddata}}">Data</a></button>
                      <button class="tiny ui button"><a id="links" href="{{propertiesCtrl.property.zillowData.zillowSearch.links.homedetails}}">Details</a></button>
                      <button class="tiny ui button"><a id="links" href="{{propertiesCtrl.property.zillowData.zillowSearch.links.mapthishome}">Map</a></button>
            </div>
            <div class="one wide column">

            </div>
            <div class="eight wide column" id="map-holder">
              <map id="map-properties">
                <!-- <marker ng-if="propertiesCtrl.drawMap" position="{{propertiesCtrl.property.zillowData.zillowSearch.address.latitude}}, {{propertiesCtrl.property.zillowData.zillowSearch.address.longitude}}">
                </marker>
                <marker ng-if="propertiesCtrl.drawMap" ng-repeat="property in propertiesCtrl.compareProps"
                        position="{{property.zillowData.zillowSearch.address.latitude}}, {{property.zillowData.zillowSearch.address.longitude}}">
                </marker> -->
              </map>
              <img src="../images/googlelogo.jpg" alt="Google Maps" style="height:30px; width:60px; float:right" />
          </div>
          <div class="one wide column">

          </div>
        </div>
    </div>
    <!--  This is the divider segment containing quick facts about the property-->
    <div class="ui segment">
      <div class="ui four column grid">
          <div class="column center aligned bottomStat">
            <div class="value">
              {{propertiesCtrl.property.zillowData.zillowComps.principal.zestimate.valuationRange.high.__text | currency }}
            </div>
            <div class="label">
              <i class="line chart icon"></i> Valuation Range
            </div>
            <div class="value">
              {{propertiesCtrl.property.zillowData.zillowComps.principal.zestimate.valuationRange.low.__text | currency }}
            </div>
          </div>
          <div class="column center aligned bottomStat">
            <div class="label">
              <i class="marker icon"></i> Area:
            </div>
            <div class="text value">
              {{propertiesCtrl.property.zillowData.zillowComps.principal.localRealEstate.region._name}}
            </div>

          </div>
          <div class="column center aligned bottomStat">
            <div class="label">
              <i class="calendar icon"></i>
               Year Built
            </div>
            <div class="value">
              {{propertiesCtrl.property.zillowData.zillowComps.principal.yearBuilt}}
            </div>
          </div>
          <div class="column center aligned bottomStat">
            <div class="label">
                <i class="ellipsis vertical icon"></i>Percentile
            </div>
            <div class="value">
                {{propertiesCtrl.property.zillowData.zillowComps.principal.zestimate.percentile}}%
            </div>
          </div>
      </div>
  </div>

  <!-- Table for group property comparisons =============================-->
  <h3 class="ui horizontal divider header">
    <i class="bar chart icon"></i>
    Compare {{propertiesCtrl.property.prospectName}} to Properties in {{propertiesCtrl.property.groupName}}
  </h3>

  <table class="ui striped table">
    <thead>
      <tr>
        <th class="table-label-column">Data</th>
        <th>{{propertiesCtrl.property.prospectName}}</th>
        <th>
            <div class="ui selection dropdown">
              <input type="text" name="prop-compare">
              <i class="dropdown icon"></i>
              <div class="default text" ng-model="propertiesCtrl.compareName">{{propertiesCtrl.compareName}}</div>
              <div class="menu">
                <div class="item" data-value="0" ng-repeat="property in propertiesCtrl.compareProps" ng-click="propertiesCtrl.compareProperty(property.prospectName)">{{property.prospectName}}</div>
                <div class="item" data-value="1" ng-click="propertiesCtrl.compareProperty('--Clear--')">--Clear--</div>
              </div>
            </div>
        </th>
        <th>Value +/-</th>
        <th>Percentage +/-</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Z-Estimate</td>
        <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.zestimate.amount.__text | currency}}</td>
        <td>
            {{propertiesCtrl.compareThis.zillowData.zillowSearch.zestimate.amount.__text | currency}}
        </td>
        <td ng-if="propertiesCtrl.compareThis">
            {{propertiesCtrl.compareThis.zestimateValue | currency}}
        </td>
        <td ng-if="propertiesCtrl.compareThis">
          {{propertiesCtrl.compareThis.zestimatePercentage | percentage:2}}
        </td>
        <td ng-if="!propertiesCtrl.compareThis"></td>
        <td ng-if="!propertiesCtrl.compareThis"></td>
      </tr>
      <tr>
        <td>Finished Sq.Ft</td>
        <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.finishedSqFt}}</td>
        <td>
            {{propertiesCtrl.compareThis.zillowData.zillowComps.principal.finishedSqFt}}
        </td>
        <td ng-if="propertiesCtrl.compareThis">
            {{propertiesCtrl.compareThis.feetValue}}
        </td>
        <td ng-if="propertiesCtrl.compareThis">
          {{propertiesCtrl.compareThis.feetPercentage | percentage:2}}
        </td>
        <td ng-if="!propertiesCtrl.compareThis"></td>
        <td ng-if="!propertiesCtrl.compareThis"></td>
      </tr>
      <tr>
        <td>Price per Sq.Ft</td>
        <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.zestimate.amount.__text / propertiesCtrl.property.zillowData.zillowComps.principal.finishedSqFt | currency}}</td>
        <td>
          {{propertiesCtrl.compareThis.zillowData.zillowComps.principal.zestimate.amount.__text / propertiesCtrl.property.zillowData.zillowComps.principal.finishedSqFt | currency}}
        </td>
        <td ng-if="propertiesCtrl.compareThis">
            {{propertiesCtrl.compareThis.footPriceValue | currency}}
        </td>
        <td ng-if="propertiesCtrl.compareThis">
          {{propertiesCtrl.compareThis.footPricePercentage | percentage:2}}
        </td>
        <td ng-if="!propertiesCtrl.compareThis"></td>
        <td ng-if="!propertiesCtrl.compareThis"></td>
      </tr>
      <tr>
        <td>Beds/Baths</td>
        <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.bedrooms}} / {{propertiesCtrl.property.zillowData.zillowComps.principal.bathrooms}}</td>
        <td ng-if="propertiesCtrl.compareThis">
            {{propertiesCtrl.compareThis.zillowData.zillowComps.principal.bedrooms}} / {{propertiesCtrl.compareThis.zillowData.zillowComps.principal.bathrooms}}
        </td>
        <td ng-if="propertiesCtrl.compareThis">
            {{propertiesCtrl.compareThis.bedsValue}} / {{propertiesCtrl.compareThis.bathroomsValue}}
        </td>
        <td ng-if="propertiesCtrl.compareThis">
          <!-- Not used as doesn't make sense for comparison -->
          <!-- {{propertiesCtrl.compareThis.bedsPercentage | percentage:2}} / {{propertiesCtrl.compareThis.bathroomsPercentage | percentage:2}} -->
        </td>
        <td ng-if="!propertiesCtrl.compareThis"></td>
        <td ng-if="!propertiesCtrl.compareThis"></td>
        <td ng-if="!propertiesCtrl.compareThis"></td>
      </tr>
      <tr>
        <td>Price per Bedroom</td>
        <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.zestimate.amount.__text / propertiesCtrl.property.zillowData.zillowComps.principal.bedrooms | currency}}</td>
        <td>{{propertiesCtrl.compareThis.zillowData.zillowComps.principal.zestimate.amount.__text / propertiesCtrl.property.zillowData.zillowComps.principal.bedrooms | currency}}</td>
        <td ng-if="propertiesCtrl.compareThis">
            {{propertiesCtrl.compareThis.bedroomPriceValue | currency}}
        </td>
        <td ng-if="propertiesCtrl.compareThis">
          {{propertiesCtrl.compareThis.bedroomPricePercentage | percentage:2}}
        </td>
        <td ng-if="!propertiesCtrl.compareThis"></td>
        <td ng-if="!propertiesCtrl.compareThis"></td>
      </tr>
      <tr>
        <td>Last Sold Date</td>
        <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.lastSoldDate}}</td>
        <td>{{propertiesCtrl.compareThis.zillowData.zillowComps.principal.lastSoldDate}}</td>
        <td ng-if="propertiesCtrl.compareThis">
            <!-- Not used as doesn't make sense for comparison -->
            <!-- {{propertiesCtrl.compareThis.lastSoldDate}} -->
        </td>
        <td ng-if="propertiesCtrl.compareThis">

        </td>
        <td ng-if="!propertiesCtrl.compareThis"></td>
        <td ng-if="!propertiesCtrl.compareThis"></td>
      </tr>
      <tr>
        <td>Last Sold Price</td>
        <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.lastSoldPrice.__text | currency}}</td>
        <td>{{propertiesCtrl.compareThis.zillowData.zillowComps.principal.lastSoldPrice.__text | currency}}</td>
        <td ng-if="propertiesCtrl.compareThis.lastSoldValue">
            {{propertiesCtrl.compareThis.lastSoldValue | currency}}
        </td>
        <td ng-if="propertiesCtrl.compareThis.lastSoldValue">
          {{propertiesCtrl.compareThis.lastSoldPercentage | percentage:2}}
        </td>
        <td ng-if="!propertiesCtrl.compareThis.lastSoldValue"></td>
        <td ng-if="!propertiesCtrl.compareThis.lastSoldValue"></td>
      </tr>
    </tbody>
  </table>

  <!-- Table for comparable comparisons ====================================-->
  <h3 class="ui horizontal divider header">
    <i class="bar chart icon"></i>
    Compare {{propertiesCtrl.property.prospectName}} to Comparables from Zillow
  </h3>
    <table class="ui striped table">
      <thead>
        <tr>
          <th class="table-label-column">Data</th>
          <th>{{propertiesCtrl.property.prospectName}}</th>
          <th ng-repeat = "comparable in propertiesCtrl.property.zillowData.zillowComps.comparables.comp  | filter:query | orderBy:_score | limitTo:3">Comparable</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Z-Estimate</td>
          <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.zestimate.amount.__text | currency}}</td>
          <td ng-repeat = "comparable in propertiesCtrl.property.zillowData.zillowComps.comparables.comp  | filter:query | orderBy:_score | limitTo:3">
              {{comparable.zestimate.amount.__text | currency}}
          </td>
        </tr>
        <tr>
          <td>Finished Sq.Ft</td>
          <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.finishedSqFt}}</td>
          <td ng-repeat = "comparable in propertiesCtrl.property.zillowData.zillowComps.comparables.comp  | filter:query | orderBy:_score | limitTo:3">
                {{comparable.finishedSqFt}}
          </td>
        </tr>
        <tr>
          <td>Price per Sq.Ft</td>
          <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.zestimate.amount.__text / propertiesCtrl.property.zillowData.zillowComps.principal.finishedSqFt | currency}}</td>
          <td ng-repeat = "comparable in propertiesCtrl.property.zillowData.zillowComps.comparables.comp  | filter:query | orderBy:_score | limitTo:3">
            {{comparable.zestimate.amount.__text / comparable.finishedSqFt | currency}}
          </td>
        </tr>
        <tr>
          <td>Beds/Baths</td>
          <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.bedrooms}} / {{propertiesCtrl.property.zillowData.zillowComps.principal.bathrooms}}</td>
          <td ng-repeat = "comparable in propertiesCtrl.property.zillowData.zillowComps.comparables.comp  | filter:query | orderBy:_score | limitTo:3">
              {{comparable.bedrooms}} /   {{comparable.bathrooms}}
          </td>
        </tr>
        <tr>
          <td>Price per Bedroom</td>
          <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.zestimate.amount.__text / propertiesCtrl.property.zillowData.zillowComps.principal.bedrooms | currency}}</td>
          <td ng-repeat = "comparable in propertiesCtrl.property.zillowData.zillowComps.comparables.comp  | filter:query | orderBy:_score | limitTo:3">
              {{comparable.zestimate.amount.__text / comparable.bedrooms | currency}}
          </td>
        </tr>
        <tr>
          <td>Last Sold Date</td>
          <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.lastSoldDate}}</td>
          <td ng-repeat = "comparable in propertiesCtrl.property.zillowData.zillowComps.comparables.comp  | filter:query | orderBy:_score | limitTo:3">
              {{comparable.lastSoldDate}}
          </td>
        </tr>
        <tr>
          <td>Last Sold Price</td>
          <td>{{propertiesCtrl.property.zillowData.zillowComps.principal.lastSoldPrice.__text | currency}}</td>
          <td ng-repeat = "comparable in propertiesCtrl.property.zillowData.zillowComps.comparables.comp  | filter:query | orderBy:_score | limitTo:3">
              {{comparable.lastSoldPrice.__text | currency}}
          </td>
        </tr>
      </tbody>
    </table>
</div>

<script type="text/javascript">

  $('.ui.dropdown').dropdown();


</script>
