
<form class="ui form segment" ng-submit="searchCtrl.search()">
  <div class="two fields">
    <div class="field">
      <label>Address</label>
      <input type="text" name="first-name" placeholder="Address" ng-model="searchCtrl.address">
    </div>
    <div class="field">
      <label>City/State/Zip</label>
      <input type="text" name="last-name" placeholder="City State Zip" ng-model="searchCtrl.cityStateZip">
    </div>
  </div>
  <button class="ui button"  type="submit">
    <i class="find icon"></i>&nbsp;  Find It
  </button>
</form>

<div class="ui container">
  <div class="ui items" >
    <div class="item">
      <div class="ui grid">
        <div class="three wide column">
          <h2 class="ui icon header"><i class="home icon"></i></h2>
        <div class="search content">
          <p class="header">{{searchCtrl.propObject.zillowSearch.address.street}}</p>
          <p class="header">{{searchCtrl.propObject.zillowSearch.address.city}} {{searchCtrl.propObject.zillowSearch.address.state}}</p>
          <div class="meta">
            <span>{{searchCtrl.propObject.zillowSearch.zestimate.amount.__text | currency}}</span>
          </div>
          <div class="description">
            <p></p>
          </div>
        </div>
      </div>
      <div class="nine wide column">
          <div class="search content">
            <div class="ui styled accordion">
              <div class="title active">
                <i class="dropdown icon"></i>
                Property Search Details
              </div>
              <div class="content active" ng-if="searchCtrl.propObject.zillowSearch">

                  <a href={{searchCtrl.propObject.zillowSearch.links.comparables}}><p>Zillow Comparables</p></a>
                  <a href={{searchCtrl.propObject.zillowSearch.links.graphsanddata}}><p>Graphs and Data</p></a>
                  <a href={{searchCtrl.propObject.zillowSearch.links.homedetails}}><p>Property Details</p></a>
                  <a href={{searchCtrl.propObject.zillowSearch.links.mapthishome}}><p>Property Map</p></a>

                <!-- <p class="transition visible">
                  Testing the accordion
                </p> -->
              </div>
            </div>
          </div>
        </div>
      <div class = "four wide column" ng-if="searchCtrl.propObject.zillowSearch">
        <form class="ui center aligned form segment" ng-submit="searchCtrl.saveProp()">

            <div class="ui input">
              <input type="text" name="property-name" placeholder="Name this Property" ng-model="searchCtrl.propName">
            </div>
            <div class="ui input">
              <input type="text" name="strategy" placeholder="Property Strategy" ng-model="searchCtrl.strategy">
            </div>
            <div class="ui input">
              <input type="text" name="group-name" placeholder= "Group Name" ng-model="searchCtrl.groupName">
            </div>

          <button class="ui button"  data-zpid="{{searchCtrl.propObject.zpid}}" type="submit">
            Add this Property to Group
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
