
<form class="ui form segment" ng-submit="searchCtrl.search(searchCtrl.address,searchCtrl.cityStateZip)">
  <div class="two fields">
    <div class="field">
      <label>Address</label>
      <input type="text" name="first-name" placeholder="Address" ng-model="searchCtrl.address">
    </div>
    <div class="field">
      <label>City/State/Zip</label>
      <input type="text" name="last-name" placeholder="CityStateZip" ng-model="searchCtrl.cityStateZip">
    </div>
  </div>
  <button class="ui button"  type="submit">
    Find It
  </button>
</form>

<div class="ui container">
  <div class="ui items" >
    <div class="item">
      <div class="ui grid">
        <div class="three wide column">
        <img src="/images/home.png" style="height:100px; width:100px">
        <div class="search content">
          <a class="header">{{searchCtrl.propObject.address.street}}</a><br>
          <a class="header">{{searchCtrl.propObject.address.city}}, {{searchCtrl.propObject.address.state}}</a>
          <div class="meta">
            <span>{{searchCtrl.propObject.zestimate.amount.__text | currency}}</span>
          </div>
          <div class="description">
            <p></p>
          </div>
        </div>
      </div>
      <div class="nine wide column">
          <div class="search content">
            <div class="ui styled accordion">
              <div class="title active">
                <i class="dropdown icon"></i>
                Property Search Details
              </div>
              <div class="content active" ng-if="searchCtrl.propObject">
                <ul>
                  <a href={{searchCtrl.propObject.links.comparables}}><li>Zillow Comparables</li></a>
                  <a href={{searchCtrl.propObject.links.graphsanddata}}><li>Graphs and Data</li></a>
                  <a href={{searchCtrl.propObject.links.homedetails}}><li>Property Details</li></a>
                  <a href={{searchCtrl.propObject.links.mapthishome}}><li>Property Map</li></a>
                </ul>
                <!-- <p class="transition visible">
                  Testing the accordion
                </p> -->
              </div>
            </div>
          </div>
        </div>
      <div class = "four wide column" ng-if="searchCtrl.propObject">
        <form class="ui center aligned form segment" ng-submit="searchCtrl.saveProp()">

            <div class="ui input">
              <input type="text" name="property-name" placeholder="Name this Property" ng-model="searchCtrl.prospectName">
            </div>
            <div class="ui input">
              <input type="text" name="strategy" placeholder="Property Strategy" ng-model="searchCtrl.strategy">
            </div>
            <div class="ui input">
              <input type="text" name="group-name" placeholder= "Group Name" ng-model="searchCtrl.groupName">
            </div>

          <button class="ui button"  data-zpid="{{searchCtrl.propObject.zpid}}" type="submit">
            Add this Property to Group
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
